/* Set a background image by replacing the URL below */
body {
    /* background: url('../img/BG-black.jpg') no-repeat center center fixed; */
    background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(1,195,255,1) 35%, rgba(0,165,242,1) 54%, rgba(0,124,255,1) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }